html {
  box-sizing: border-box;
  /* background: #e5e5e5; */
}

body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 1280px;
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  padding: 30px 0;
  margin: 0px;
  font-family: Roboto;
  font-size: 80px;
  text-decoration: none;
}

.menu {
  display: flex;
  height: 72px;
  width: 1280px;
  list-style: none;
  background-color: #35444f;
  justify-content: center;
  text-decoration: none;
  padding: 0px;
  font-family: Roboto;
  font-size: 24px;
}

.menu-item {
  padding: 20px;
  border-left: 1px solid white;
}

.menu-item:hover {
  background: #222f3a;
}

.menu-item:last-child {
  border-right: 1px solid white;
}

.menu a:link {
  color: white;
}

.main-part {
  display: flex;
  justify-content: space-between;
}

.aside-items {
  display: flex;
  font-family: Roboto;
  font-size: 27px;
  color: #485863;
  list-style: none;
  padding: 0px 0px 0 40px;
  align-items: center;
  height: 80px;
}

.aside-items:hover {
  background: #dbdbdb;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 400px;
  border: 1px solid black;
  padding: 0;
  justify-self: center;
  margin: 0;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  border: 1px solid black;
}

.main_image:hover img {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.paragraph {
  width: 885px;
  font-family: Roboto;
  font-size: 18px;
  text-align: justify;
}

.footer {
  display: flex;
  height: 20px;
  width: 75%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  padding: 0px;
  font-family: Roboto;
  font-size: 28px;
}

.bottom-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #b5b7ba;
  margin-top: 20px;
}

.footer-item {
  font-family: Roboto;
  align-self: center;
}

.copyright {
  font-family: Roboto;
  font-size: 24px;
  align-self: center;
  margin: 0;
}

.footer-item a:hover {
  color: #3181a6;
  border-bottom: 3px solid #3181a6;
}
