*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/background.png);
  background-position-x: center;
}

.top_menu {
  display: flex;
  padding-top: 47px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.container {
  width: 1025px;
  margin: 0 auto;
  margin-bottom: 0;
}

.logo-items {
  font-size: 29px;
  line-height: 19px;
  align-self: flex-end;
  margin: 0;
}

.Holidays {
  font-size: 18px;
}

.logo-list {
  display: grid;
  grid-template-columns: auto 100px;
  list-style: none;
  color: white;
  font-family: "Roboto";
  align-items: center;
  height: 100%;
}

.milan_logo {
  margin-right: 8px;
  height: auto;
}

.contacts {
  list-style: none;
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 61px;
  margin: 0;
}

.contacts:hover .contacts_items {
  color: #f26522;
  transition: 0.3s;
}
.contacts_items {
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}

.milan_logox {
  margin-right: 8px;
  fill: white;
  height: 47px;
}

.logo-list:hover {
  color: #f26522;

  transition: 0.3s;
}

.logo-list:hover .milan_logox {
  fill: #f26522;
  transition: 0.3s;
}

.gallery {
  width: 1025px;

  padding-left: 0;
  margin: 0 auto;
}

.milan_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.images {
  padding: 0 2px;
  background: linear-gradient(to bottom, white, transparent);
}

.gallery_items {
  height: 300px;
  position: relative;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
}

.tour_link {
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: center;
}

.footer {
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
}

.details {
  position: absolute;
  top: 300px;
  overflow: hidden;
}

.gallery_items:hover .details {
  font-family: Roboto;
  font-weight: normal;
  color: #fff;
  background-color: #f26522;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 165px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  display: flex;
  height: 55px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: start;
  transition: top 0.3s ease-in;
  padding: 0 16px 12px 0;
}

.gallery_items:hover h3 {
  color: #f26522;

  transition: 0.3s;
}

.view_details {
  font-size: 14px;
  text-align: end;
}

.from {
  padding-left: 16px;

  font-size: 10px;
  padding-bottom: 10px;
}

.price {
  padding-left: 16px;
  font-size: 20px;
  display: block;
  width: 180px;
}

.view_details::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 1.5px solid white;
  border-top: 1.5px solid white;
  transform: rotate(45deg);
  margin-left: 20px;
  bottom: 1px;
}

Альтернативный вариант ховера для ссылок */

/* .details {
  font-family: Roboto;
  font-weight: normal;
  top: 300px;
  transform-origin: 0 100%;
  transition: transform 0.5s;
  transform: scaleY(0);
  position: absolute;
  overflow: hidden;
}

.gallery_items:hover .details {
  padding: 0 16px 12px 16px;
  color: #fff;
  background-color: #f26522;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 165px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  display: flex;
  height: 55px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: start;
  transform: scaleY(1);
}
