html {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.table {
  border: 1px solid black;
  font-family: Arimo, "Montserrat";
  font-weight: 300;
  color: #484848;
  text-transform: uppercase;
  text-align: center;
  outline: 15px solid #3a4965;
}

td {
  border-right: solid 1px #d4d2d2;
  width: 283px;
}

tr {
  height: 72px;
}

.button {
  text-transform: uppercase;
  color: white;
  padding: 10px 60px;
  border-radius: 5px;
  border-style: none;
  font-weight: 300;
}

img {
  padding: 0 5px 0 0;
}

.dollar_cell {
  border-style: none;
}
