html {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.table {
  border: 1px solid black;
  font-family: "Arimo", "Montserrat";
  font-weight: 800;
  color: #484848;
  text-transform: uppercase;
  text-align: center;
  outline: 15px solid #3a4965;
}

.table_big {
  font-family: "Arimo", "Montserrat";
  font-weight: 300;
  color: #484848;
  text-transform: uppercase;
  text-align: center;
  outline: 15px solid #3a4965;
}

.table_big tr {
  height: 150px;
}

.table_big td {
  border-top: 1px solid #d4d2d2;
}

.button {
  text-transform: uppercase;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border-style: none;
  font-weight: 300;
  font-size: 16px;
}

.table_price {
  margin: auto;
}
.table_price tr {
  height: 50px;
  border-style: none;
}

img {
  padding: 0 0 8px 0;
}
