*,
*::after,
*::before {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a {
  color: #ffffff;
}

*:hover,
:focus {
  transition: 0.2s;
}

.bgimage {
  background-image: url(../img/bg.png);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.main__menu {
  background-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  font-family: Ubuntu;
}

.divider {
  /* дивайдер отдельным пунктом, чтобы он мог сам себе посчитать отступ как и остальные элементы */
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.5);
  align-self: center;
}
.logo__name {
  color: white;
  padding-left: 79px;
  font-size: 22px;
  font-weight: 700;
}

.logo__name:hover {
  color: #01813f;
}

.svg_icons {
  fill: white;
}

.svg_icons:hover {
  fill: #01813f;
}

.log_sign > a:hover {
  color: #01813f;
}

.menu__items {
  align-self: center;
  margin-right: 27px;
}

.menu__panel {
  display: flex;
  list-style: none;
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding-right: 79px;
}

/* Sign Up Form */
.sign_up_area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(
    100vh - 58px
  ); /* считаю так, потому что высота для хедера задана и мне кажется, так правильно */
}

.sign_up_form {
  position: relative;
  height: 584px;
  width: 444px;
  background-color: white;
  padding: 29px 60px 20px 60px;
}

.social_login {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 77px;
  justify-content: space-between;
  grid-gap: 6px;
  font-family: Ubuntu;
  font-size: 20px;
  line-height: 16px;
}

.social_login:before {
  content: "";
  position: absolute;
  left: 0px;
  display: block;
  background-color: #3cb878;
  width: 18px;
  height: 18px;
}

.social_login_button {
  font-size: 14px;
  text-align: end;
}

.social_login_button a {
  color: #3cb878;
}

.social_login_button a:hover {
  color: #01813f;
  text-decoration: underline;
}

.loginBtn {
  position: relative;
  padding: 0 22px 0 0px;
  border: none;
  color: #fff;
  width: 159px;
  height: 47px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 0;
  width: 49px;
  height: 28px;
}

.loginBtn--facebook {
  background-color: #305db8;
  text-align: end;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1px;
  border-radius: 4px;
}
.loginBtn--facebook:before {
  background: url("../img/f.svg");
  background-size: 12px 24px;
  background-repeat: no-repeat;
  background-position: 16px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.loginBtn--facebook:hover {
  background-color: #022263;
  cursor: pointer;
}

.loginBtn--google {
  font-family: Ubuntu;
  background-color: #df4a32;
  text-align: end;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  padding-right: 27px;
  padding-bottom: 1px;
  border-radius: 4px;
}
.loginBtn--google:before {
  background: url("../img/g.svg") 6px 6px no-repeat;
  background-size: 30px 19px;
  background-repeat: no-repeat;
  background-position: 12px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}
.loginBtn--google:hover {
  background: #ab1f09;
  cursor: pointer;
}

.or-seperator {
  margin: 40px 0 0;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  font-family: Ubuntu;
}

.or-seperator span {
  /* ор в спане чтоб мы его могли относительно бордера подвинуть */

  display: inline-block;
  position: relative;
  width: 22px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  top: -12px;
  color: #848484;
}

::placeholder {
  color: #bebebe;
}

.input_field {
  display: block;
  width: 100%;
  height: 46px;
  margin-bottom: 13px; /* в макете написано 15, но по факту там 13, и с 15 эти 5х2=10 пикселей к нижней часте нормально забирают места */
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  font-family: Ubuntu;
  font-size: 14px;
  padding: 20px;
}

.input_field:focus {
  box-shadow: 0 5px 10px rgba(10, 22, 47, 0.2);
  outline: 0px;
  outline-style: hidden;
}

.input_field:valid {
  border: 1px solid #3cb878;
}

.form-checkbox {
  font-family: Ubuntu;
  font-size: 14px;
  position: relative;
}

.form-checkbox a {
  color: #3cb878;
}

.form-checkbox a:hover {
  color: #01813f;
  text-decoration: underline;
}

/* кастомный чекбокс */
.form-checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox_style:not(:checked) + label:before,
.checkbox_style:checked + label:before {
  content: "";
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

.checkbox_style:checked + label:before {
  content: "\2713\0020"; /* код чек-марка как буквы вместо цсс */
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #3cb878;
  border: 1px solid #f2f2f2;
}

.create_acc_button {
  font-family: Ubuntu;
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  padding: 14px 0;
  background-color: #3cb878;
  border-radius: 4px;
}

.create_acc_button:focus {
  background-color: #01813f;
}
