*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit; }

body {
  font-family: "Roboto", sans-serif; }

.wrapper {
  position: relative; }

.container {
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 480px) {
    .container {
      width: 440px; } }
  @media (min-width: 640px) {
    .container {
      width: 620px; } }
  @media (min-width: 768px) {
    .container {
      width: 768px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1004px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1180px; } }

h2 {
  display: none; }

.posts {
  margin-top: 38px; }
  @media (min-width: 768px) {
    .posts {
      margin-top: 56px; } }
  @media (min-width: 1200px) {
    .posts {
      margin-top: 66px; } }

.first-bg {
  width: 100%; }
  @media (min-width: 768px) {
    .first-bg {
      width: 748px; } }
  @media (min-width: 1024px) {
    .first-bg {
      width: 1004px; } }
  @media (min-width: 1200px) {
    .first-bg {
      width: 1170px; } }

.posts-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 80%; }
  @media (min-width: 1200px) {
    .posts-gallery {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      min-width: 100%; } }
  .posts-gallery > div:last-child {
    display: none; }
    @media (min-width: 768px) {
      .posts-gallery > div:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.posts-gallery__items {
  margin-bottom: 28px; }
  @media (min-width: 640px) {
    .posts-gallery__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .posts-gallery__items .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0px; }
    .posts-gallery__items .description p {
      font-size: 12px;
      color: #7c7c7c; }
      @media (min-width: 640px) {
        .posts-gallery__items .description p {
          margin-top: 5px;
          margin-left: 21px; } }
      .posts-gallery__items .description p:first-child {
        margin-top: 13px;
        font-size: 16px;
        color: #4e4e4e;
        font-weight: 700; }
        @media (min-width: 640px) {
          .posts-gallery__items .description p:first-child {
            margin-top: 0px; } }
      .posts-gallery__items .description p:last-child {
        font-size: 14px;
        display: none;
        color: #5c5c5c; }
        @media (min-width: 1200px) {
          .posts-gallery__items .description p:last-child {
            line-height: 26px; } }
    @media (min-width: 768px) {
      .posts-gallery__items .description {
        margin-bottom: 45px; } }
  @media (min-width: 768px) {
    .posts-gallery__items {
      margin-bottom: 45px; } }
  @media (min-width: 768px) {
    .posts-gallery__items .description p:last-child {
      display: block; } }
  @media (min-width: 768px) {
    .posts-gallery__items .description p:first-child {
      margin-top: 0px; } }
  @media (min-width: 1200px) {
    .posts-gallery__items {
      width: 590px;
      margin-left: 0px; } }

.description p {
  padding-bottom: 13px; }

.instagram-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.instagram-section {
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .instagram-section {
      background-color: rgba(0, 0, 0, 0.04);
      padding-top: 47px; } }

.insta-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .insta-gallery img {
    margin-right: 1px;
    width: 301px; }
    .insta-gallery img:not(:first-child) {
      display: none; }
    .insta-gallery img:last-child {
      margin-right: 0px; }
    @media (min-width: 768px) {
      .insta-gallery img {
        margin-right: 8px;
        width: 240px; }
        .insta-gallery img:last-child {
          margin-right: 0px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .insta-gallery img {
      margin-right: 10px;
      width: 285px; } }
  @media (min-width: 640px) {
    .insta-gallery img:nth-child(2) {
      display: block; } }
  @media (min-width: 768px) {
    .insta-gallery img:nth-child(3) {
      display: block;
      margin-right: 0px; } }
  @media (min-width: 1200px) {
    .insta-gallery img:nth-child(3) {
      margin-right: 8px; } }
  @media (min-width: 1200px) {
    .insta-gallery img:nth-child(4) {
      display: block; } }

.header {
  width: 100%;
  top: 0;
  left: 0; }
  @media (min-width: 768px) {
    .header {
      margin-top: 40px;
      margin-bottom: 40px; } }

.menu-btn {
  position: relative;
  height: 37px;
  width: 44px;
  margin-top: 23px;
  border: none;
  background-color: black;
  cursor: pointer; }
  @media (min-width: 768px) {
    .menu-btn {
      display: none; } }

.menu-btn__line {
  display: block;
  width: 17px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 13px; }
  .menu-btn__line:before {
    position: absolute;
    bottom: 4px;
    left: 0;
    content: "";
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px; }
  .menu-btn__line:after {
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px; }

.menu-btn.mark .menu-btn__line::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  -webkit-transform: scale(0);
  transform: scale(0);
  height: 2px;
  background-color: white;
  border-radius: 5px; }

.menu-btn.mark > .menu-btn__line {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-btn.mark .menu-btn__line::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 2px;
  background-color: white;
  border-radius: 5px; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (min-width: 768px) {
    .navigation {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.main-menu {
  display: none;
  position: absolute;
  margin-top: 60px;
  width: 182px;
  background-color: #f5f5f5;
  z-index: 2; }
  @media (min-width: 768px) {
    .main-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: transparent;
      width: 600px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: static;
      margin: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 1200px) {
    .main-menu {
      width: 800px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.main-menu__item:active, .main-menu__item:hover {
  background-color: #e5e5e5; }
  @media (min-width: 1200px) {
    .main-menu__item:active, .main-menu__item:hover {
      background-color: transparent; } }

.main-menu__link--active {
  position: relative;
  color: #57a4a4;
  font-weight: 400; }

.main-menu.active {
  display: block; }

.header-bg {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section-title {
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 16px;
      margin-bottom: 24px;
      margin-top: 0; } }

h2 {
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h2 {
      display: block; } }

.main-menu.active {
  display: block; }

.main-menu__link {
  font-size: 11px;
  text-transform: uppercase;
  padding: 14px;
  line-height: 22px; }

.footer {
  background-color: black; }
  .footer p {
    color: #b9b9b9;
    font-size: 12px;
    text-align: center;
    width: 280px;
    line-height: 20px; }
    @media (min-width: 640px) {
      .footer p {
        width: 400px; } }
    @media (min-width: 768px) {
      .footer p {
        width: 680px;
        font-size: 16px;
        line-height: 28px; } }
    .footer p:last-child {
      width: 200px;
      font-size: 14px;
      line-height: 24px; }
      @media (min-width: 768px) {
        .footer p:last-child {
          width: 600px;
          font-size: 16px;
          line-height: 26px; } }

.footer-info {
  padding-top: 38px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white; }
  @media (min-width: 768px) {
    .footer-info {
      padding-top: 57px;
      padding-bottom: 57px; } }
  @media (min-width: 1200px) {
    .footer-info {
      padding-top: 66px;
      padding-bottom: 66px; } }

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icon-list__items {
  margin: 25px 3px; }

.footer-extra-text {
  display: none; }
  @media (min-width: 768px) {
    .footer-extra-text {
      display: inline; } }
