*,
*::after,
*::before {
  box-sizing: border-box;
}

.title {
  margin: 0 auto;
}

.container {
  height: 100vh;
  margin: 0px;
  text-align: center;
  font-family: Arial;
  color: #ebd71c;
  background-color: #000;
  overflow: hidden;
}

.container .sliding_text {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  font-size: 40px;
  transform: perspective(250px) rotateX(35deg);
}

.container .paragraph {
  position: absolute;
  animation: scroll 30s linear;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    top: 80%; /* по хорошему тут должно быть 100%, чтоб оно начиналось в самом низу страницы, но если поставить 100%, то есть задержка где-то в секунду-две пока текст доедет до начала экрана, поэтому выставил 80 */
  }
  100% {
    top: 0%; /* тут то же самое. поскольку формально этот скролл больше чем 100% страницы, ему нужно уехать выше. если поставить 0%, то тогда очень медленно все едет 30 секунд и буквально еле-еле успевает доехать до начала новой итерации, поэтому изначально я тут ставил -100%  */
  }
}

.audio {
  position: absolute;
  top: 0;
  transform: scale(0.5);
  opacity: 0.3;
}

.audio:hover {
  opacity: 1;
}
