html {
  box-sizing: border-box;
  background: #e5e5e5;
}

body {
  margin: 0px;
}

a,
h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

h2 {
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20 0 20px;
}
.container {
  margin: 0 auto;
  width: 1280px;
  background: white;
}

.paragraph {
  padding: 10px;
  margin: 20px auto;
  width: 1145px;
  text-align: center;
  font-family: Montserrat;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 30px;
  text-align: center;
  padding: 0px 20px;
}

.button_red {
  border-radius: 4px;
  background: red;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 30px 60px;
  border-style: none;
  margin-top: 60px;
}

.copyright {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: right;
  letter-spacing: 3px;
  margin: 50px 75px 0px 0px;
  padding: 40px;
}
