*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper_top {
  max-width: 1900px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.wrapper_bot {
  max-width: 1900px;
  background-color: #fff;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.main__menu {
  background-color: #313131;
  height: 70px;
  display: flex;
  align-items: center;
}

.menu__panel {
  display: flex;
  list-style: none;
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 90px; /*этот паддинг делает верхнее меню по центру. Не так как в макете, но там оно не отцентрировано */
  margin: 0 auto;
}

.menu__items {
  padding: 17.5px;
}

.menu__items > a:hover {
  color: #14b9d5;
}

.logo__image {
  padding: 22px 27px;
}

a {
  color: white;
  text-decoration: none;
}

.logo__name,
.first_menu {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  height: 28px;
}

.search {
  padding: 26px;
  height: 100%;
  width: 68px;
  background-color: #000000;
}

.top__parallax-bnr {
  background-image: url(../img/bg.jpeg);
  background-size: 1900px;
  height: 369px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -480px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* В  макете дается полная картинка, чтоб ее не обрезать (вдруг понадобится изменить размер топ блоков), поставил ее целиком и подвинул */
}
.top__parallax-bnr::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 1900px;
  height: 369px;
  background-color: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translate(-50%);
} /* в макете фон затемнен, поэтому решил не красить картинку, а сделать ей черный оверлей. слегка колхозно из-за того что надо вручную задавать размеры, но не знаю как сделать иначе*/

.top__parallax-bnr .section_headers {
  color: white;
}

.section_headers {
  font-family: "Open Sans";
  color: #18b4cf;
  font-size: 27px;
  text-transform: uppercase;
  align-self: center;
  z-index: 1;
  text-align: center;
}

.buttons_top {
  display: flex;
  text-decoration: none;
  justify-content: center;
  z-index: 1;
}

.top_links {
  width: 170px;
  height: 55px;
  font-family: "Open Sans";
  font-size: 18;
  color: white;
  text-align: center;
  padding: 19px 0 17px 0;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  top: 40px;
  background-color: #89ca62;
  font-weight: 600;
  letter-spacing: 0.5px;
  z-index: 1;
}

.top_links:last-child {
  background-color: #14b9d5;
}

.most-popular {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  height: 900px;
  align-content: space-between;
  padding: 0;
}

.pop_items {
  background-color: #fff;
  width: 370px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0 0 30px 0;
}

.blue_header {
  margin: 49px 0;
}

.pop_desc {
  display: block;
  height: 30px;
}

.bottom__parallax-bnr {
  background-image: url(../img/bg2.jpeg);
  height: 588px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-position: 0 -480px; */
  margin: 0 auto;
  background-position: center;
}

.client_header {
  color: white;
  font-size: 32px;
  line-height: 44px;
  margin-top: 0;
  padding-top: 106px;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.client_header::after {
  display: block;
  content: "";
  position: relative;
  top: 100px;
  border-bottom: 4px solid #18b4cf;
  width: 64px;
  margin: 19px auto 24px;
}

.client_logos {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 58px;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

  list-style: none;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-gap: 0;
  list-style: none;
  padding-left: 0px;
}

.gallery-item {
  width: 100%;
}

.hotel_overview {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 2vw;
  grid-template-areas:
    "prophecy prophecy prophecy nebula"
    "western western grand grand"
    "wanderlust wanderlust twin twin"
    "prism shroud shroud shroud";
  grid-template-rows: 259px 418px 418px 259px;
  grid-template-columns: 277px 1fr 1fr 277px;
  grid-gap: 45px 60px;
  padding-left: 0px;
  list-style: none;
  text-align: end;

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #5b6469;
  margin-bottom: 70px;
}

.hotel_overview > li {
  background-color: #f9f7f7;
}

.hotel_news1 {
  grid-area: prophecy;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image description";
  grid-gap: 20px;

  width: 856px;
}

.image {
  grid-area: image;
}

.description {
  grid-area: description;
  padding-right: 20px;
  line-height: 21px;
}

.hotel_news2 {
  grid-area: nebula;
  text-align: center;
}

.hotel_news3 {
  grid-area: western;
}

.hotel_news4 {
  grid-area: grand;
  justify-self: end;
}

.hotel_news5 {
  grid-area: wanderlust;
}

.hotel_news6 {
  grid-area: twin;
}

.hotel_news7 {
  grid-area: prism;
  text-align: center;
}

.hotel_news8 {
  grid-area: shroud;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image description";
  grid-gap: 20px;
  grid-auto-rows: 100px;
  justify-self: end;
  width: 856px;
}

.desc_title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  margin-top: 10px;
  color: #353a3d;
  padding-right: 20px;
}

.desc_title2 {
  padding-right: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  margin-top: 10px;
  color: #353a3d;
}

.footer {
  background-color: #313131;
  height: 80px;
  max-width: 1900px;
  margin: 0 auto;
}

.copyrights {
  font-family: Open Sans;
  font-size: 13px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 110px;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
  height: 80px;
}

.logos {
  display: flex;
  height: auto;
}
