.footer {
  background-color: black;
  p {
    color: #b9b9b9;
    font-size: 12px;
    text-align: center;
    width: 280px;
    line-height: 20px;
    @media (min-width: 640px) {
      width: 400px;
    }
    @media (min-width: 768px) {
      width: 680px;
      font-size: 16px;
      line-height: 28px;
    }
    &:last-child {
      width: 200px;
      font-size: 14px;
      line-height: 24px;
      @media (min-width: 768px) {
        width: 600px;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

.footer-info {
  padding-top: 38px;
  padding-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  @media (min-width: 768px) {
    padding-top: 57px;
    padding-bottom: 57px;
  }
  @media (min-width: 1200px) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.icon-list {
  display: flex;
}

.icon-list__items {
  margin: 25px 3px;
}

.footer-extra-text {
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}
