body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: relative;
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  @media (min-width: 480px) {
    width: 440px;
  }
  @media (min-width: 640px) {
    width: 620px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1024px) {
    width: 1004px;
  }
  @media (min-width: 1200px) {
    width: 1180px;
  }
}

h2 {
  display: none;
}

.posts {
  margin-top: 38px;
  @media (min-width: 768px) {
    margin-top: 56px;
  }
  @media (min-width: 1200px) {
    margin-top: 66px;
  }
}

.first-bg {
  width: 100%;
  @media (min-width: 768px) {
    width: 748px;
  }
  @media (min-width: 1024px) {
    width: 1004px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.posts-gallery {
  display: flex;
  flex-wrap: wrap;
  min-width: 80%;
  @media (min-width: 1200px) {
    flex-wrap: wrap;
    min-width: 100%;
  }
  > div:last-child {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }
}

.posts-gallery__items {
  margin-bottom: 28px;

  @media (min-width: 640px) {
    display: flex;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    p {
      font-size: 12px;
      color: #7c7c7c;
      @media (min-width: 640px) {
        margin-top: 5px;
        margin-left: 21px;
      }
      &:first-child {
        margin-top: 13px;
        font-size: 16px;
        color: #4e4e4e;

        font-weight: 700;
        @media (min-width: 640px) {
          margin-top: 0px;
        }
      }
      &:last-child {
        font-size: 14px;
        display: none;
        color: #5c5c5c;
        @media (min-width: 1200px) {
          line-height: 26px;
        }
      }
    }
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 45px;
  }

  .description p:last-child {
    @media (min-width: 768px) {
      display: block;
    }
  }
  .description p:first-child {
    @media (min-width: 768px) {
      margin-top: 0px;
    }
  }
  @media (min-width: 1200px) {
    width: 590px;
    margin-left: 0px;
  }
}

.description p {
  padding-bottom: 13px;
}

.instagram-section-title {
  display: flex;
  justify-content: space-between;
}

.instagram-section {
  margin-bottom: 42px;
  @media (min-width: 768px) {
    background-color: rgba(0, 0, 0, 0.04);
    padding-top: 47px;
  }
}

.insta-gallery {
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 1px;
    width: 301px;
    &:not(:first-child) {
      display: none;
    }
    &:last-child {
      margin-right: 0px;
    }
    @media (min-width: 768px) {
      margin-right: 8px;
      width: 240px;
      &:last-child {
        margin-right: 0px;
      }
      @media (min-width: 1200px) {
        margin-right: 10px;
        width: 285px;
      }
    }
  }
  img:nth-child(2) {
    @media (min-width: 640px) {
      display: block;
    }
  }
  img:nth-child(3) {
    @media (min-width: 768px) {
      display: block;
      margin-right: 0px;
    }
    @media (min-width: 1200px) {
      margin-right: 8px;
    }
  }
  img:nth-child(4) {
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
