.header {
  width: 100%;
  top: 0;
  left: 0;
  @media (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.menu-btn {
  position: relative;
  height: 37px;
  width: 44px;
  margin-top: 23px;
  border: none;
  background-color: black;
  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-btn__line {
  display: block;
  width: 17px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 13px;
  &:before {
    position: absolute;
    bottom: 4px;
    left: 0;
    content: "";
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
  }
  &:after {
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
  }
}

.menu-btn.mark .menu-btn__line::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  transform: scale(0);
  height: 2px;
  background-color: white;
  border-radius: 5px;
}

.menu-btn.mark > .menu-btn__line {
  transform: rotate(45deg);
}

.menu-btn.mark .menu-btn__line::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transform: rotate(-90deg);
  height: 2px;
  background-color: white;
  border-radius: 5px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  @media (min-width: 768px) {
    justify-content: center;
  }
}

.main-menu {
  display: none;
  position: absolute;
  margin-top: 60px;
  width: 182px;
  background-color: #f5f5f5;
  z-index: 2;
  @media (min-width: 768px) {
    display: flex;
    background-color: transparent;
    width: 600px;
    justify-content: center;
    position: static;
    margin: 0;
    align-items: center;
  }
  @media (min-width: 1200px) {
    width: 800px;
    justify-content: space-between;
  }
}

.main-menu__item {
  &:active,
  &:hover {
    background-color: #e5e5e5;
    @media (min-width: 1200px) {
      background-color: transparent;
    }
  }
}

.main-menu__link--active {
  position: relative;
  color: #57a4a4;
  font-weight: 400;
}

.main-menu.active {
  display: block;
}

.header-bg {
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 14px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 0;
  }
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: block;
  }
}

.main-menu.active {
  display: block;
}
.main-menu__link {
  font-size: 11px;
  text-transform: uppercase;

  padding: 14px;
  line-height: 22px;
}
